
<p-sidebar [(visible)]="sidebarVisible">

    <h3>Pokedex - Brandon Montoya</h3>
    <hr>
    <p>
       Hola, este es un pequeño proyecto personal de una pokedex con el apoyo del servicio web de 
       <strong><a href="https://pokeapi.co/" target="_blank">PokeApi.</a></strong>
    </p>

    <hr>

    <p class="cita">
        “No dejamos de jugar porque envejecemos; envejecemos porque dejamos de jugar"
        <br>
        <br>
        - George Bernard Shaw
    </p>

    <hr>

</p-sidebar>



<p-toolbar>
    <div class="p-toolbar-group-start">
        <p-button (click)="sidebarVisible = true" icon="pi pi-bars"></p-button>
        <h1>Pokedex</h1>
    </div>

    <div class="p-toolbar-group-end">
        <!-- <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText />
        </span> -->
    </div>
</p-toolbar>

<div class="container">
    <router-outlet></router-outlet>
</div>