<div class="cardpokemon" >

    <p-card header="{{item.name | titlecase}}" subheader="Card Subheader" *ngFor="let item of pokemonesListado">
        <ng-template pTemplate="header">
            <img alt="Card" src="{{obtenerImagen( item.url )}}" />
        </ng-template>

        <ng-template pTemplate="body">

            <p-button label="Info" styleClass="p-button-rounded p-button-info"></p-button>
        </ng-template>
        
    </p-card>

</div>

<div>
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalPokemones" ></p-paginator>
</div>



