
<div class="cardpokemon" [hidden]="cargandoListado">

    <p-card header="{{item.name | titlecase}}" subheader="" *ngFor="let item of pokemonesListado">
        <ng-template pTemplate="header">
            <img alt="Card" src="{{obtenerImagen( item.url )}}" />
        </ng-template>

        <ng-template pTemplate="body">
            <p-button class="btnInfo" label="Ver mas..." styleClass="p-button-raised p-button-secondary" [routerLink]="['/pokemones', obtenerIdPokemon(item.url)]"></p-button>
        </ng-template>
        
    </p-card>

</div>

<p-progressBar mode="indeterminate" [style]="{ height: '6px' }" [hidden]="!cargandoListado"></p-progressBar>

<div>
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalPokemones" ></p-paginator>
</div>



